@using GameZone.Settings
@model GameZone.ViewModels.CreateGameFormViewModel
@{
    ViewData["Title"] = "Add Game";
}


<h5>
    <i class="bi bi-plus-circle-dotted"></i>
    Add a new game
</h5>

<form asp-controller="Games"  enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaregoryId" class="form-label mt-4"></label> 
                <select class="form-select" asp-for="CaregoryId" asp-items="Model.Categories"> 
                    <option value="" >Select Category</option>
                </select>
                <span asp-validation-for="CaregoryId" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedDevices" class="form-label mt-4"></label>
                <select class="form-select h-25" asp-for="SelectedDevices" asp-items="Model.Devices" >
                    <option>Select Devices</option>
                </select>
                <span asp-validation-for="SelectedDevices" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label mt-4"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-bg-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Cover</label>
                <input asp-for="Cover" type="file" class="form-control"
                data-rule-extension="@FileSettings.AllowedExtensions.Replace(".",string.Empty )"
                    data-msg-extension="Not allowed extensions">
                <small  class="form-text text-muted">Only .jpg, .jpeg, .png file are allowed with max size 1MB</small>
                <span asp-validation-for="Cover" class="text-bg-danger d-block"></span>
            </div>
            <button asp-action="Create" type="submit" class="btn btn-info btn-lg text-black mt-4">Save</button>
        </div>
        <div class="col-md-6 d-flex justify-content-center pt-5 overflow-hidden"> 
        <img class="Caver-review d-none" alt="Cover" />    
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />


    <script>
        $.validator.addMethod

        $(document).ready(function ()
        {
            $('#Cover').on('change', function () {
                $('.Caver-review').attr('src', window.URL.createObjectURL(this.files[0])).removeClass('d-none');
            });
        });
    </script>
}